# **Collect Data**

## Objectives

* Fetch data from Kaggle and save as raw data

## Inputs

* The dataset we use is namend Mountains VS Beaches - https://www.kaggle.com/datasets/jahnavipaliwal/mountains-vs-beaches-preference

## Outputs

* The raw data will be saved in the folder `data/raw`

## Additional Comments

* Please select Python 3.8.18 for the kernel of this notebook.
* This notebook was inspired by the Data Collection Jupyter notebook in the Churnometer walkthrough project.

---

# Change working directory

* Here the working directory is changed from the current directory to the root directory of the project.

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/DestinationDNA/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/DestinationDNA'

# Section 1 - Data Retrieval

Here we collect the zip dataset from kaggle - but first we need to install kaggle and authenticate our account.

In [4]:
%pip install kaggle==1.5.12

Collecting kaggle==1.5.12
  Downloading kaggle-1.5.12.tar.gz (58 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six>=1.10 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (1.16.0)
Requirement already satisfied: certifi in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (2024.8.30)
Requirement already satisfied: python-dateutil in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (2.9.0.post0)
Requirement already satisfied: requests in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (2.32.3)
Collecting tqdm (from kaggle==1.5.12)
  Downloading tqdm-4.66.6-py3-none-any.whl.metadata (57 kB)
Collecting python-slugify (from kaggle==1.5.12)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (2.2.3)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle==1.5.12)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from requests->kaggle==1.5.12) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from requests->kaggle==1.5.12) (3.10)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading tqdm-4.66.6-py3-none-any.whl (78 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73027 sha256=3cc58fa084ef365ceb3d6b0ae225d772f870306863d26dc823c6a1abfac60532
  Stored in directory: /home/gitpod/.cache/pip/wheels/29/da/11/144cc25aebdaeb4931b231e25fd34b394e6a5725cbb2f50106
Successfully built kaggle
Installing collected packages: text-unidecode, tqdm, python-slugify, kaggle
Successfully installed kaggle-1.5.12 python-slugify-8.0.4 text-unidecode-1.3 tqdm-4.66.6
Note: you may need to restart the kernel to use updated packages.

* Now we need to authenticate our account with the Kaggle JSON file.

In [5]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
! chmod 600 kaggle.json

In [4]:
KaggleDatasetPath = "jahnavipaliwal/mountains-vs-beaches-preference"
DestinationFolder = "outputs/datasets/raw"
! kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder}

Traceback (most recent call last):
  File "/workspace/.pip-modules/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/workspace/.pip-modules/lib/python3.8/site-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/workspace/.pip-modules/lib/python3.8/site-packages/kaggle/api/kaggle_api_extended.py", line 164, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /home/gitpod/.kaggle. Or use the environment method.

* Now we need to delete the kaggle.json file from the root directory and unzip the file to the raw data folder.

In [10]:
! unzip {DestinationFolder}/*.zip -d {DestinationFolder}
! rm {DestinationFolder}/*.zip
! rm ./kaggle.json

unzip:  cannot find or open outputs/datasets/raw/*.zip, outputs/datasets/raw/*.zip.zip or outputs/datasets/raw/*.zip.ZIP.

No zipfiles found.
rm: cannot remove 'outputs/datasets/raw/*.zip': No such file or directory

---

# Section 2 - Removing unnecessary data

Our dataset just have 1 csv file which we will use to train our model.

In [2]:
import os

current_dir = os.getcwd()
os.chdir(current_dir + "/outputs/datasets/raw")
current_dir = os.getcwd()
csv_files = os.listdir(current_dir)
print(csv_files)

FileNotFoundError: [Errno 2] No such file or directory: '/workspace/DestinationDNA/jupyter_notebooks/outputs/datasets/raw'

In [7]:
import pandas as pd

preferences_df = pd.read_csv("../outputs/datasets/raw/mountains_vs_beaches_preferences.csv")
preferences_df.describe()

/workspace/DestinationDNA/jupyter_notebooks

,Age,Income,Travel_Frequency,Vacation_Budget,Proximity_to_Mountains,Proximity_to_Beaches,Pets,Environmental_Concerns,Preference
count,52444.000000,52444.000000,52444.000000,52444.000000,52444.000000,52444.000000,52444.000000,52444.000000,52444.000000
mean,43.507360,70017.271280,4.489265,2741.799062,149.943502,149.888452,0.500858,0.498436,0.250706
std,14.985597,28847.560428,2.876130,1296.922423,86.548644,86.469248,0.500004,0.500002,0.433423
min,18.000000,20001.000000,0.000000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,31.000000,45048.250000,2.000000,1622.000000,75.000000,75.750000,0.000000,0.000000,0.000000
50%,43.000000,70167.000000,4.000000,2733.000000,150.000000,150.000000,1.000000,0.000000,0.000000
75%,56.000000,95108.500000,7.000000,3869.000000,225.000000,225.000000,1.000000,1.000000,1.000000
max,69.000000,119999.000000,9.000000,4999.000000,299.000000,299.000000,1.000000,1.000000,1.000000

In [8]:
preferences_df.head()

,Age,Gender,Income,Education_Level,Travel_Frequency,Preferred_Activities,Vacation_Budget,Location,Proximity_to_Mountains,Proximity_to_Beaches,Favorite_Season,Pets,Environmental_Concerns,Preference
0,56,male,71477,bachelor,9,skiing,2477,urban,175,267,summer,0,1,1
1,69,male,88740,master,1,swimming,4777,suburban,228,190,fall,0,1,0
2,46,female,46562,master,0,skiing,1469,urban,71,280,winter,0,0,1
3,32,non-binary,99044,high school,6,hiking,1482,rural,31,255,summer,1,0,1
4,60,female,106583,high school,5,sunbathing,516,suburban,23,151,winter,1,1,0

---

# Conclusion

The raw data was successfully saved in the folder `data/raw`. We do not need to remove any unnecessary data.

# Next Steps

The next step is to perform data preprocessing - cleaning and preparing the data for the model.